body{
    background-color: #27214e;
    font-family: WaltographRegular;
    color: #f0ffff;
}
header{
    width: 100%;
}
nav{
    margin-left: 5%;
    float: left;
    margin-top: -2%;
}
nav li{
    font-size: 2em;
    line-height: 1.1;
    display: block;
    letter-spacing: -.03333em;
    padding: .25em 0 0 10px;
    border-left: 10px solid #f0ffff;
}
nav li:hover{
    border-color: #c56dab;
}
aside{
    background-color: #594186;
    width: 15%;
    position: fixed;
    padding: 1%;
}
aside:hover{
    width:17.5%;
}
main{
    width: 60%;
    margin-left: 20%;
}
section{
    background-color: #4182ad;
    width: 23.5%;
    height: 30em;
    overflow: auto;
    float:left;
    color: #c56dab;
    padding-bottom: 2%;
    margin-left: 2%;
    margin-bottom:2%;
}
section:first-of-type,section:nth-of-type(5){
    margin-left: 0%;
    clear;
}
article{
    background-color: #594186;
    width: 90%;
    padding: 1%;
    margin-right: 4%;
    margin-left: 4%;
}
article:nth-of-type(odd){
    color: #aa8941;
}
header h1{
    margin-left: 42%;
    font-size: 6em;
    text-shadow: 3px 1px #c56dab;
}
h2{
    text-align: center;
    font-size: 3em;
    color: #27214e;
}
h3{
    font-size: 1.6em;
}
p{
    font-size: 0.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3895ac;
}
img{
    max-width: 90%;
    border: 2px solid #c56dab;
    border-radius: 10px;
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 2%;
    margin-top: 2%;
}
a{
    font-family: WaltographRegular;
    color: #ff44b1;
    font-size: 1.5em;
}
footer{
    width: 100%;
    clear: both;
}